Package: shutdown-fix
Version: 1.0.0-1big1
Depends: zram-config
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:24
Description: Solve cronical error in systemd when not shutdown or reboot because maintain processes from desktop running

